/*
Errno::ENOENT: No such file or directory - my-website/sass

Backtrace:
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:484:in `read'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/lib/sass/plugin.rb:109:in `method_missing'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/

$red: #f98ca4;
$blue: #4ad9db;
$green: #65f283;
$orange: rgba(244,235,160,1);
$darkblue: #2f3e9c;
$darkred: #9e132c;
$purple:#6e1f58;

// h1 {
// 	width: 50%;
// 	height: 50%;
// 	display: flex;
// 	align-items: center;
// 	text-align: center;
// 	position: absolute;
// 	margin: 0;
// 	font-family: 'CoreCircus', sans-serif;
// 	color: $red;
// 	font-size: 12vw;
// 	letter-spacing: -0.225rem;
// 	// background: $orange;
// 	justify-content: center;
// 	z-index: 1;
// 	transition: font-size 250ms cubic-bezier(.59,.04,.3,1.43);
// 	text-shadow:
// 		-1px -1px 0 $purple,
// 		1px -1px 0 $purple,
// 		-1px 1px 0 $purple,
// 		1px 1px 0 $purple,
// 		1px 0px 0px $green,
// 		0px 1px 0px $green,
// 		2px 1px 0px $green,
// 		1px 2px 0px $green,
// 		3px 2px 0px $green,
// 		2px 3px 0px $green,
// 		4px 3px 0px $green,
// 		3px 4px 0px $green,
// 		5px 4px 0px $green,
// 		3px 5px 0px $purple,
// 		6px 5px 0px $purple,
// 		-1px 2px 0 black,
// 		0 3px 0 $purple,
// 		1px 4px 0 $purple,
// 		2px 5px 0px $purple,
// 		2px -1px 0 $purple,
// 		3px 0 0 $purple,
// 		4px 1px 0 $purple,
// 		5px 2px 0px $purple,
// 		6px 3px 0 $purple,
// 		7px 4px 0 $purple,
// 		10px 10px 4px #dac249;
// 		animation-iteration-count: 1;

// 	&:after {
// 		content: attr(data-letters);
// 		position: absolute;
// 		left: 0;
// 		z-index: 2;
// 		overflow: hidden;
// 		white-space: wrap;
// 		width: 100%;
// 		height: 100%;
// 		top: 0;
// 		display: flex;
// 		align-items: center;
// 		text-align: center;
// 		position: absolute;
// 		justify-content: center;
// 		color: $blue;
// 		text-shadow:
// 			-1px -1px 0 $darkblue,
// 			1px -1px 0 $darkblue,
// 			-1px 1px 0 $darkblue,
// 			1px 1px 0 $darkblue,
// 			1px 0px 0px $red,
// 			0px 1px 0px $red,
// 			2px 1px 0px $red,
// 			1px 2px 0px $red,
// 			3px 2px 0px $red,
// 			2px 3px 0px $red,
// 			4px 3px 0px $red,
// 			3px 4px 0px $red,
// 			5px 4px 0px $red,
// 			3px 5px 0px $darkblue,
// 			6px 5px 0px $darkblue,
// 			-1px 2px 0 black,
// 			0 3px 0 $darkblue,
// 			1px 4px 0 $darkblue,
// 			2px 5px 0px $darkblue,
// 			2px -1px 0 $darkblue,
// 			3px 0 0 $darkblue,
// 			4px 1px 0 $darkblue,
// 			5px 2px 0px $darkblue,
// 			6px 3px 0 $darkblue,
// 			7px 4px 0 $darkblue,
// 			10px 10px 4px rgba(#6af177, .8);
// 		// background: rgba(192,250,202,1);
// 		clip-path: polygon(100% 0, 0% 100%, 100% 100%);
// 	}
// }


/*
 * Webfont: CoreCircus by S-Core
 * URL: http://www.myfonts.com/fonts/s-core/core-circus/regular/
 * Copyright: Copyright (c) 2013 by S-Core Co., Ltd.. All rights reserved.

*/

// @font-face {
// 	font-family: 'CoreCircus';
// 	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot');
// 	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.eot?#iefix') format('embedded-opentype'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff2') format('woff2'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.woff') format('woff'), url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/333BF4_8_0.ttf') format('truetype');}

// 	p {
// 	    font-family: 'Nunito', sans-serif;
// 	}

// 	.w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
//     color: #000!important;
//     background-color: #f1f1f1!important;
//     margin-left: -130px;
// }

// nav {
// 	font-family: 'CoreCircus';
// }

// h2 {
// 	font-family: 'CoreCircus'!important;
// }

// .container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   align-content: center;
//   flex-wrap: wrap;
//   width: 25vw;
//   margin: 0 auto;
//   min-height: 20vh;
// }

// .btn {
//   flex: 1 1 auto;
//   margin: 10px;
//   padding: 30px;
//   text-align: center;
//   text-transform: uppercase;
//   transition: 0.5s;
//   background-size: 200% auto;
//   color: white;
//  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
//   box-shadow: 0 0 20px #eee;
//   border-radius: 10px;
//  }

//  .btn:hover {
//    background-position: right center; /* change the direction of the change here */
//  }

//  .btn-5 {
//    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
//  }

// .arrowhover {
// 	  animation-play-state: paused;
// }
//  .arrowhover:hover {
// 	  animation-play-state: running;
// 	 -webkit-animation-duration: 1s;
//     animation-duration: 1s;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
// 	 animation-iteration-count: infinite;
// 	 -webkit-animation-iteration-count: infinite;

//  }

 .pricing-table{
	margin-top:450px;border:2px solid #1de9c3
	}
